<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
	<connectionStrings>
		<add name="CMSConnectionString" connectionString="Persist Security Info=False;database=x13_dg;server=DESKTOP-OF1SA40;user id=sa;password=LocoLobo1;Current Language=English;Connection Timeout=120;" />
	</connectionStrings>
</configuration>