<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
	<connectionStrings>
		<add connectionString="Data Source=Server;Initial Catalog=DatabaseName;Integrated Security=False;Persist Security Info=False;User ID=username;Password=password;Connect Timeout=60;Encrypt=False;Current Language=English;"/>
	</connectionStrings>
</configuration>